{% extends 'base.html' %}

{% block title %} 
    My Friends List
{% endblock %}

{% block content %}

    <div class = "container">
    <h1>Friends</h1>
    <br/>
    <form action = "/friends" METHOD = "POST">
        <input type = "text" placeholder = "Name" name = "name">
        <input type = "submit" value = "Add Name" class = "btn btn-secondary">
    </form>
    <br/><br/>
    
    {% for friend in friends %}
    
    <div class="row g-2">
      <div class="col-sm-3">
       <h4> {{ friend.name }} </h4>
      </div>
      <div class="col-sm">
        <a href="/update/{{friend.id}}" class ="btn btn-outline-secondary btn-sm">Update </a>

       <a href="/delete/{{friend.id}}" class ="btn btn-outline-danger btn-sm">Delete </a>
      </div>
</div>
    

     {% endfor %}
    </div>

{% endblock %}